.root-wrapper
{
    text-align: center;
    margin: auto;
}

.header
{
    margin: 30px;
}

.header__title
{
    font-size: 38px;
}

.header__info
{
    margin: 40px;
    padding: 10px;
}

.input-form
{
    width: 400px;

    margin: auto;
    padding: 10px;
}

.input-wrapper-block
{
    width: 250px;

    margin: 30px auto;
    position: relative;
}

.login__input,
.password__input
{
    width: 250px;

    display: block;
    margin: 20px auto;
    padding: 5px;

    font-weight: 600;
    font-size: 20px;
}

.login__input:invalid ~ .error-handler,
.password__input:invalid ~ .error-handler
{
    display: block;
}

.input-wrapper-block .error-handler
{
    top: 110%;
}

.input-form .button-item
{
    margin-left: 45px;
}
