@font-face
{
    src: url(fonts/Geometria/Geometria.otf);
    font-family: Geometria;
}

body
{
    font-family: Geometria;

    background-color: #dadada;
    box-shadow: 0px -7px 7px 5px #fff;

    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.link
{
    text-decoration-line: none;
}

.margin-right_yes
{
    margin-right: 10px;
}

.text_blue_yes
{
    color: #00a3da;
}

.text_grey_yes
{
    color: #808080;
}

.text_bold_yes
{
    font-weight: bold;
}

.display_flex_yes
{
    display: flex;
    justify-content: flex-start;
}

.list-item
{
    list-style-type: none;
    margin: 10px 20px;
}

.decoration-line
{
    height: 0;

    margin: 30px auto;
    border: 0;
    box-shadow: 0 0 5px 1px black;
}

.button-type-2
{
    height: 40px;

    padding: 10px;
}

.button-type-2
{
    cursor: pointer;
}

@media screen and (min-width: 1200px)
{
    body
    {
        margin: 0 10%;
    }
}

@media screen and (min-width: 730px) and (max-width: 1200px)
{
    body
    {
        margin: 0 100px;
    }
}

@media screen and (min-width: 375px) and (max-width: 730px)
{
    body
    {
        margin: 0 10px;
    }
}
