.main-wrapper
{
    background-color: #fff;
}

.main-content__query
{
    margin-top: 60px;

    display: flex;
    justify-content: flex-start;
}

.query__headline
{
    margin-right: 30px;
    padding: 10px;

    font-size: 24px;
}

.query__label
{
    margin-right: 30px;
    padding: 10px;

    font-size: 24px;

    background-color: #fff;
    cursor: pointer;
}

@media screen and (min-width: 1200px)
{
    .main-wrapper
    {
        padding: 20px 70px;
    }
}

@media screen and (min-width: 730px) and (max-width: 1200px)
{
    .main-wrapper
    {
        padding: 20px 40px;
    }

    .query__label,
    .query__headline
    {
        font-size: 110%;
    }
}

@media screen and (min-width: 375px) and (max-width: 730px)
{
    .main-wrapper
    {
        padding: 20px 30px;
    }

    .query__headline,
    .query__label,
    .payment-option__option
    {
        margin-right: 10px;

        font-size: 87%;
    }
}
